@model IEnumerable<OrderDetailModel>
@{
	ViewData["Title"] = "Chi tiết đơn hàng";
	var index = 1;
	decimal total = 0;
	decimal subtotal = 0;
}
<!-- Page Heading -->
<!-- DataTables Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3 d-flex justify-content-between align-items-center">
		<h6 class="m-0 font-weight-bold text-primary">Chi tiết đơn hàng: @ViewBag.OrderCode</h6>
		<a class="btn btn-success" asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-page="@ViewBag.CurrentPage">Quay về danh sách đơn hàng</a>
		<input type="hidden" class="getOrderCode" value="@ViewBag.OrderCode" />
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<table class="table" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr class="bg-primary text-gray-300">
						<th class="align-middle">STT</th>
						<th class="align-middle">Sản phẩm</th>
						<th class="align-middle">Giá</th>
						<th class="align-middle">Số lượng</th>
						<th class="align-middle">Tổng</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						subtotal = item.Quantity * item.Price;
						total += subtotal;
						<tr>
							<th scope="row">@(index++)</th>
							<td>@item.Product.Name</td>
							<td>@FormatCurrency.ToVnCurrency(@item.Price)</td>
							<td>@item.Quantity</td>
							<td>@FormatCurrency.ToVnCurrency(subtotal)</td>
						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<th colspan="4" class="text-end align-middle">
						</th>
						<th class="text-end align-middle">
							Tổng tiền: @FormatCurrency.ToVnCurrency(total)
						</th>
					</tr>
				</tfoot>
			</table>

		</div>
	</div>
</div>
@section Scripts {
	<script>
		let table;
		$(document).ready(function () {
			table = setupDataTable({
				enableExport: true,
				exportColumns: [0, 1, 2, 3, 4],
				buttonsToShow: ['pdf', 'print']
			});
		});
	</script>
	<style>
		#dataTable thead th {
			border-bottom: none !important;
		}
	</style>
}