@using Shopping_ver1.Models.ViewModels
@model CartViewModel
@{
	var couponCode = Model.CouponCode != null ? "- " + Model.CouponCode : "";
}

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li class="active">Giỏ hàng</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed" style="margin-bottom: 0;">
				<thead>
					<tr class="cart_menu">
						<td class="description">Tên</td>
						<td class="image">Ảnh</td>
						<td class="price">Giá</td>
						<td class="quantity">Số lượng</td>
						<td class="total">Thành tiền</td>
						<td>Tùy chọn</td>
					</tr>
				</thead>
				<tbody>
					@if (Model.CartItems.Count > 0)
					{
						foreach (var item in Model.CartItems)
						{
							<tr>
								<td class="cart_description">
									<h4>@item.ProductName</h4>
								</td>
								<td class="cart_product">
									<a href=""><img src="~/media/products/@item.Image" width="140px" alt=""></a>
								</td>
								<td class="cart_price">
									<p>@FormatCurrency.ToVnCurrency(item.Price)</p>
								</td>
								<td class="">
									<button class="btn btn-success btn-sm decrease-cartitem" value="@item.ProductId">
										<i class="fa fa-minus"></i>
									</button>
									<input class="cart_quantity_input mx-1 text-center" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
									<button class="btn btn-primary btn-sm increase-cartitem" value="@item.ProductId">
										<i class="fa fa-plus"></i>
									</button>
								</td>
								<td class="cart_price">
									<p class="cart_total_price">@FormatCurrency.ToVnCurrency(@item.Total)</p>
								</td>
								<td class="text-center">
									<button type="button" class="btn btn-danger remove-cartitem" value="@item.ProductId"><i class="fa fa-trash"></i></button>
								</td>
							</tr>
						}
						<tr>
							<td>
								<label>Chọn khu vực</label>
								<div class="form-group">
									<select class="form-control" id="tinh" name="tinh">
										<option value="0">@Model.Shipping.City</option>
									</select>
								</div>
								<div class="form-group">
									<select class="form-control" id="quan" name="quan">
										<option value="0">@Model.Shipping.District</option>
									</select>
								</div>
								<div class="form-group">
									<select class="form-control" id="phuong" name="phuong">
										<option value="0">@Model.Shipping.Ward</option>
									</select>
								</div>
							</td>
							<td>
								<div class="form-group">
									<label>Mã giảm giá</label>
									<input id="couponCode" class="form-control" />
								</div>
								<button class="btn btn-success btn-sm btn-active-coupon">Kích hoạt</button>
							</td>
							<td colspan="3" class="text-right align-top" style="border: none;">
								<div class="d-flex flex-column align-items-end pr-3">
									<p class="mb-1">Tổng tiền sản phẩm:</p>
									<p class="mb-1">Phí vận chuyển:</p>
									<p class="mb-1 font-weight-bold">Tổng đơn hàng:</p>
									<p class="mb-1 text-danger">Mã giảm giá @couponCode:</p>
									<p class="cart_total_price">Tổng thanh toán:</p>
								</div>
							</td>
							<td colspan="1" class="text-right align-top" style="border: none;">
								<div class="d-flex flex-column align-items-end">
									<p class="mb-1">@FormatCurrency.ToVnCurrency(Model.TotalProductPrice)</p>
									<p class="mb-1">@FormatCurrency.ToVnCurrency(Model.Shipping.Price)</p>
									<p id="TotalPrice" class="mb-1 font-weight-bold">@FormatCurrency.ToVnCurrency(Model.GrandTotal)</p>
									<p class="mb-1 text-danger">- @Model.DiscountValue</p>
									<p class="cart_total_price">@FormatCurrency.ToVnCurrency(Model.TotalPayment)</p>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="6" align="right">
								<button class="btn btn-danger clear-cart">Giỏ hàng mới</button>
								<a asp-controller="Checkout" asp-action="Index" class="btn btn-success">Thanh toán khi nhận hàng</a>
								<a asp-controller="Checkout" asp-action="PayWithMoMo" class="btn"
								   style="background-color: #A50064; color: white;">
									Thanh toán với MoMo
								</a>
							</td>
						</tr>
					}
					else
					{
						<tr>
							<td class="cart_total">
								<p class="cart_total_price"><h4>Không có sản phẩm nào trong giỏ hàng</h4></p>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->